.home-container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-left {
  width: 60%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  h1 {
    font-weight: 700;
    font-size: 68px;
    line-height: 80px;
  }
  p {
    font-weight: 400;
    font-size: 23px;
    width: 70%;
    text-align: justify;
    margin: 20px 0px;
  }
}

.home-right {
  width: 40%;
  min-width: 400px;
  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1025px) {
  .home-left {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 590px) {
  .home-left {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 480px) {
  .home-left {
    width: 100%;
  }
  .home-right {
    display: none;
  }
}
