.get-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.get-info-left {
  width: 60%;
  gap: 2rem;
  h1 {
    padding: 30px 0;
    font-size: 55px;
  }

  h2 {
    padding: 15px 0px;
  }

  span {
    font-size: 18px;
  }

  .get-info-inputs {
    display: flex;
    margin: 30px 0px 60px 0px;
    label {
      flex-direction: column;
      padding: 10px 0px 20px 0px;
      gap: 1rem;
    }
    .question {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: left;
    }
    input,
    select {
      width: 50%;
      border: 1px solid var(--primary);
      border-radius: 8px;
      padding: 5px;
      min-width: 150px;
    }
  }
}
.get-info-right {
  width: 40%;
  min-width: 350px;
  img {
    width: 100%;
    height: 100%;
  }
}
.error {
  color: red;
  font-size: 14px;
}

@media (max-width: 940px) {
  .get-info-inputs {
    flex-direction: column;
    .question {
      :first-child {
        margin-bottom: 10px;
      }
    }
  }
  .get-info-left {
    height: fit-content;
  }
}

@media (max-width: 590px) {
  .get-info-left {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 15px;
    }
  }
  .get-info-right {
    display: none;
  }
}
