.results-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}
.results-header {
  justify-content: space-between;
}
.results-user {
  width: 30%;
  margin: auto;
  h2 {
    max-width: fit-content;
    text-align: left;
  }
}
.img-profile {
  margin: 50px 0px 20px 0px;
  img {
    border-radius: 50%;
  }
}
.results-info {
  width: 30%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  p {
    margin-top: 5px;
  }
}

.quiz-results {
  margin-top: 2%;
  width: 40%;
  h2 {
    margin-bottom: 40px;
  }
}

.results-profile {
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  img {
    width: auto;
    height: 300px;
  }
}

.result-percent {
  h3 {
    padding: 20px 0px 15px 0px;
  }
  p {
    padding-top: 5px;
  }
}

@media (max-width: 940px) {
  .results-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    img {
      margin: 0px;
    }
  }
  .results-info {
    width: 100%;
    margin: auto;
  }
  .results-profile {
    justify-content: center;
    margin-top: 50px;

    img {
      margin-right: 50px;
    }
  }
}
