.quiz-container {
  display: flex;
  flex-direction: column;
}
.questions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.question-card-container {
  width: 50%;
  max-width: 40%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding: 20px;
  border: 1px solid purple;
  border-radius: 10px;

  h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
    color: gray;
    margin-bottom: 20px;
  }

  p {
    margin: 0px 0px 20px 20px;
  }
}

.question-options {
  margin-left: 20px;
  label,
  input {
    padding: 15px;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.profile {
  margin: auto;
  padding: 0 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2 {
    margin-bottom: 25px;
  }
  img {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 785px) {
  .login-info {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .login-right {
    justify-content: center;
    .button {
      margin: auto;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 480px) {
  .questions {
    flex-direction: column;
  }
  .question-card-container {
    width: 100%;
    min-width: fit-content;
    margin: auto;
    margin-bottom: 50px;
  }
}
