* {
  padding: 0;
  margin: 0;
  font-family: Commissioner, sans-serif;
}

.App {
  --primary: rgb(126, 69, 155);

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Sections {
  padding: 0px 50px;
}
