* {
  margin: 0;
  font-family: Commissioner, sans-serif;
}

.App {
  --primary: rgb(126, 69, 155);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Sections {
  padding: 0px 50px;
}
