* {
  margin: 0;
  font-family: Commissioner, sans-serif;
}

.App {
  --primary: rgb(126, 69, 155);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Sections {
  padding: 0px 50px 20px 50px;
}

@media (max-width: 480px) {
  .Sections {
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
}
